<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Serv.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Serv.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Serv.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp2</servlet-name>
        <servlet-class>Serv.SignUp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Serv.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoComplete</servlet-name>
        <servlet-class>Serv.AutoComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>please</servlet-name>
        <servlet-class>Serv.please</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaPageServlet</servlet-name>
        <servlet-class>Serv.IdeaPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostIdeaServlet</servlet-name>
        <servlet-class>Serv.PostIdeaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainIdeaServlet</servlet-name>
        <servlet-class>Serv.MainIdeaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Serv.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>Serv.RatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupServlet</servlet-name>
        <servlet-class>Serv.AddGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToHomePageServlet</servlet-name>
        <servlet-class>Serv.ToHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteGroup</servlet-name>
        <servlet-class>Serv.AutoCompleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Serv.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNameServlet</servlet-name>
        <servlet-class>Serv.ChangeNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>Serv.ChangePassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp2</servlet-name>
        <url-pattern>/SignUp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoComplete</servlet-name>
        <url-pattern>/AutoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>please</servlet-name>
        <url-pattern>/please</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaPageServlet</servlet-name>
        <url-pattern>/IdeaPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostIdeaServlet</servlet-name>
        <url-pattern>/PostIdeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainIdeaServlet</servlet-name>
        <url-pattern>/MainIdeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/RatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupServlet</servlet-name>
        <url-pattern>/AddGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToHomePageServlet</servlet-name>
        <url-pattern>/ToHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteGroup</servlet-name>
        <url-pattern>/AutoCompleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNameServlet</servlet-name>
        <url-pattern>/ChangeNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
